* {
  font-family: helbetica, arial;
}
.draggable-droppable {
  cursor: pointer;
  text-shadow: 0px 1px 1px #eee;
  width: 100px;
  display: inline-block;
  box-shadow: 0 1px 2px #EAEBE8;
  margin: 10px;
  height: 100px;
  border-radius: 8px;
  text-align: center;
  line-height: 100px;
}
.draggable-droppable span {
  verticle-align: middle;
  display: inline-block;
  line-height: normal;
}
.drop-area {
  height: 200px;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #3a3a3a;
  border-radius: 3px;
  margin-top: 80px;
}
.box-1 {
  background: linear-gradient(to top, #f7c95e, #f7d483);
}
.box-2 {
  background: linear-gradient(to top, #f2a5ec, #d1a5f2);
}
.box-3 {
  background: linear-gradient(to top, #c1f2a5, #caf7b0);
}
.box-4 {
  background: linear-gradient(to top, #84f8fa, #bffeff);
}
.box-5 {
  background: linear-gradient(to top, #ffb5b5, #ffc7c7);
}
.box-6 {
  background: linear-gradient(to top, #faff94, #fcffba);
}
