* {
  font-family: helbetica, arial; 
}
@boxHeight: 100px;
[draggable] {
  text-shadow: 0px 1px 1px #eee;
  width: 100px;
  display: inline-block;
  box-shadow: 0 1px 2px #EAEBE8;
  margin: 10px;
  height: @boxHeight;
  border-radius: 8px;
  text-align: center;
  line-height: @boxHeight;//for verticle align text 
  span{
    verticle-align: middle; //save
    display: inline-block;
    line-height: normal;
  }
  
}

[draggable]:nth-of-type(1) {
    background: linear-gradient(to top, #F7C95E, #F7D483);
}
[draggable]:nth-of-type(2) {
    background: linear-gradient(to top, #F2A5EC, #D1A5F2);
}
[draggable]:nth-of-type(3) {
    background: linear-gradient(to top, #C1F2A5, #CAF7B0);
}
[draggable]:nth-of-type(4) {
    background: linear-gradient(to top, #84F8FA, #BFFEFF);
}
[draggable]:nth-of-type(5) {
    background: linear-gradient(to top, #FFB5B5, #FFC7C7);
}
[draggable]:nth-of-type(6) {
    background: linear-gradient(to top, #FAFF94, #FCFFBA);
}
